<div class="card-aling-p card-center" (click)="onModalData()" data-bs-toggle="modal" [attr.data-bs-target]="'#editActivity'+activity.id">
    <div class="card card-p">
        <img src="./assets/img/card/{{activity.src}}.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title">{{activity.title}}</h6>
            <p class="card-text text-subtitle">{{activity.subtitle}}</p>
        </div>
    </div>
</div>

<app-editor-activity [activity]="activity"></app-editor-activity>