<div class="modal fade" id="deleteProject" tabindex="-1"
    aria-labelledby="deleteProjectLabe1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectLabel">Project
                    Options</h5>
                <button type="button" class="btn-close btn-close-white"
                    data-bs-dismiss="modal" (click)="reloadForm()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="deleteProject()">
                    <div class="mb-3">
                        <label class="form-label" for="passwordValidation">Password Validation</label>
                        <input class="text" id="passwordValidation" autocomplete="off"
                            name="passwordValidation"
                            type="password" formControlName="password" placeholder="Security password"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="reloadForm()" class="btn button-close"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" data-bs-dismiss="modal" class="btn button-delete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>