<div class="card-aling card-center" *ngIf="loginService.isLogin()">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/card/{{project.src}}.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text text-subtitle">{{project.subtitle}}</p>
            <button class="btn btn-item" (click)="openActivities()"> Go
                project</button>
        </div>
    </div>
</div>