<div class="modal fade" id="projectOptions" tabindex="-1" aria-labelledby="projectOptionsLabe1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectOptionsLabel">{{lang.project_options}}</h5>
                <button type="button" (click)="updateForm()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="updateProject()">
                    <div class="mb-3">
                        <label class="form-label" for="nameProject">{{lang.change_project_name}}</label>
                        <input class="text" id="nameProject" name="nameProject" type="text" formControlName="title"
                            placeholder="{{project.title}}" />
                    </div>
                    <div class="mb-3">
                        <label for="descriptionProject" class="form-label">{{lang.change_description}}</label>
                        <textarea class="textarea" id="descriptionProject" rows="3" formControlName="subtitle"
                            placeholder="{{project.subtitle}}"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="control-label" for="dateStart">{{lang.start_date}}</label>
                        <input class="text" disabled id="dateStart" name="dateStart" placeholder="MM/DD/YYYY"
                            type="text" value="{{project.dateStart | date:'dd-MM-yyyy'}}" />
                    </div>
                    <div class="mb-3">
                        <label class="control-label" for="dateEnd">{{lang.completion_date}}</label>
                        <br>
                        <label class="control-label" for="dateEnd">{{lang.actual_date}} {{project.dateEnd |
                            date:'dd-MM-yyyy'}}</label>
                        <input class="date" id="dateEnd" name="dateEnd" placeholder="MM/DD/YYYY" type="date"
                            formControlName="dateEnd" />
                    </div>


                    <div class="mb-3 ">
                        <a class="drop-down d-flex" type="button" (click)="isCustom = !isCustom">
                            {{lang.customization}} <i class="fa-solid" [class.fa-caret-down]="!isCustom"
                                [class.fa-caret-up]="isCustom" [class.rotate-up]="isCustom"></i>
                        </a>
                    </div>

                    <div *ngIf="isCustom" class="mb-3 container-grid">
                        <div class="grid-item">
                            <img src="./assets/img/card/img_1.jpg" (click)="project.src = 'img_1'"
                                [class.active]="project.src === 'img_1'" alt="Miniatura 1">
                        </div>
                        <div class="grid-item">
                            <img src="./assets/img/card/img_2.jpg" (click)="project.src = 'img_2'"
                                [class.active]="project.src === 'img_2'" alt="Miniatura 2">
                        </div>
                        <div class="grid-item">
                            <img src="./assets/img/card/img_3.jpg" (click)="project.src = 'img_3'"
                                [class.active]="project.src === 'img_3'" alt="Miniatura 3">
                        </div>

                        <div class="grid-item">
                            <img src="./assets/img/card/img_4.jpg" (click)="project.src = 'img_4'"
                                [class.active]="project.src === 'img_4'" alt="Miniatura 4">
                        </div>
                        <div class="grid-item">
                            <img src="./assets/img/card/img_5.jpg" (click)="project.src = 'img_5'"
                                [class.active]="project.src === 'img_5'" alt="Miniatura 5">
                        </div>
                        <div class="grid-item">
                            <img src="./assets/img/card/img_6.jpg" (click)="project.src = 'img_6'"
                                [class.active]="project.src === 'img_6'" alt="Miniatura 6">
                        </div>

                        <div class="grid-item">
                            <img src="./assets/img/card/img_7.jpg" (click)="project.src = 'img_7'"
                                [class.active]="project.src === 'img_7'" alt="Miniatura 7">
                        </div>
                    </div>


                    <!-- <div class="modal-footer" style="justify-content: space-between !important;">
                        
                        <button type="button" class="btn btn-delete"
                            data-bs-dismiss="modal" 
                            data-bs-toggle="modal"
                            data-bs-target="#deleteProject"><i class="fa-solid fa-trash fa-sm"></i></button>
                    </div> -->

                    <div class="modal-footer d-flex">
                        <button type="button" class="btn btn-delete" data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#deleteProject"><i class="fa-solid fa-trash fa-sm"></i></button>
                        <button type="submit" data-bs-dismiss="modal"
                            class="btn btn-update">{{lang.action_save_changes}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-delete-project [project]="project"></app-delete-project>