.breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.breadcrumb-item a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: small;
}

.breadcrumb-item {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: var(--text-color) !important;
}

.breadcrumb-item.active a {
  color: var(--text-color) !important;
  pointer-events: none;
  cursor: default;
}

.title {
  font-size: x-large;
}