<div class="tab-pane fade show active" id="v-pills-information" role="tabpanel"
    aria-labelledby="v-pills-information-tab">
    <div class="container">
        <div class="row">
            <div>
                <form>
                    <div class="input-group w-100">
                        <div class="col-6 input-info">
                            <div class="col-10">
                                <label class="form-label" for="name">User Name</label>
                                <input class="text" name="name" type="text" disabled
                                    placeholder="{{loginService.getUserInfo().userName}}" />
                            </div>
                            <div class="col-2 cont-edit-btn">
                                <button class="btn btn-lg" type="button" (click)="editNameModal()">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </div>
                        </div>

                        <div class="col-6 input-info">
                            <div class="col-10">
                                <label class="form-label" for="email">Email
                                    address</label>
                                <input class="text" name="email" type="text" disabled
                                    placeholder="{{loginService.getUserInfo().userMail}}" />
                            </div>

                            <div class="col-2 cont-edit-btn">
                                <button class="btn btn-lg" type="button" (click)="editEmailModal()">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="input-group w-100">
                        <div class="col-6 input-info">
                            <div class="col-10">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="tel" class="text" disabled
                                    placeholder="{{loginService.getUserInfo().phoneNumber}}">
                            </div>
                            <div class="col-2 cont-edit-btn">
                                <button class="btn btn-lg" type="button" (click)="editPhoneModal()">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{modal.title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="modal.type == 'name'" id="editName">
                    <form [formGroup]="formName" (ngSubmit)="updateName()">
                        <div class="mb-3">
                            <label class="form-label" for="name-update">User Name</label>
                            <input class="text" id="name-update" name="name-update" type="text"
                                formControlName="userName" placeholder="{{loginService.getUserInfo().userName}}"
                                required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="name-update-c">Confirm
                                new User Name</label>
                            <input class="text" id="name-update-c" name="name-update" type="text"
                                formControlName="userNameConfirm" placeholder="{{loginService.getUserInfo().userName}}"
                                required />
                        </div>
                        <div class="list-group card-body">
                            <button type="submit" [disabled]="this.formName.invalid" class="btn
                                btn-update">Update</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="modal.type == 'email'" id="editEmail">
                    <form [formGroup]="formEmail" (ngSubmit)="updateEmail()">
                        <div class="mb-3">
                            <label class="form-label" for="name-update">Email address</label>
                            <input class="text" id="email-update" name="name-update" type="text"
                                formControlName="userEmail" placeholder="{{loginService.getUserInfo().userMail}}"
                                required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="name-update-c">Confirm
                                new Email address</label>
                            <input class="text" id="email-update-c" name="email-update" type="text"
                                formControlName="userEmailConfirm" placeholder="{{loginService.getUserInfo().userMail}}"
                                required />
                        </div>
                        <div class="list-group card-body">
                            <button type="submit" [disabled]="this.formEmail.invalid" class="btn
                                btn-update">Update</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="modal.type == 'phone'" id="editPhone">
                    <form [formGroup]="formPhone" (ngSubmit)="updatePhone()">
                        <div class="mb-3">
                            <label class="form-label" for="phone-update">User Phone</label>
                            <input class="text" id="phone-update" name="phone-update" type="text"
                                formControlName="userPhone" placeholder="{{loginService.getUserInfo().phoneNumber}}"
                                required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="phone-update-c">Confirm
                                new User Name</label>
                            <input class="text" id="phone-update-c" name="phone-update" type="text"
                                formControlName="userPhoneConfirm"
                                placeholder="{{loginService.getUserInfo().phoneNumber}}" required />
                        </div>
                        <div class="list-group card-body">
                            <button type="submit" [disabled]="this.formPhone.invalid" class="btn
                                btn-update">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>