a {
    cursor: pointer;
    text-decoration: none;
}

* {
    color: var(--text-color);
}

.links {
    user-select: none;
}

.active {
    color: rgb(66, 164, 255);
}

.float-end p {
    user-select: none;
    justify-content: flex-end;
}