<footer class="container">
    <div class="float-end">
        <p class="d-flex">
            <a (click)="gotoTop()">{{lang.footer_back_to_up}}</a>
        </p>
        <p class="d-flex">
            
        </p>
    </div>
    <p>&copy; 2022–2024</p>
    <p class="links">
        <a href="https://www.facebook.com/profile.php?id=61556829230300" class="social-icon" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook"></i> <!-- Icono de Facebook -->
        </a>
        &nbsp;
        <a href="https://twitter.com/mpm98390" class="social-icon" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i> <!-- Icono de Twitter -->
        </a>
        &nbsp;
        <a routerLink="/about" (click)="gotoTop()" routerLinkActive="active">{{lang.footer_about_us}}</a>
        <a routerLink="/sitemap" class="social-icon" target="_blank" rel="noopener noreferrer">
            <p> Mapa del sitio</p>
        </a> 
        <a routerLink="/privacite" class="social-icon" target="_blank" rel="noopener noreferrer">
        <p> Aviso de privacidad</p></a>
    </p>
  
</footer>