<div #logoutModal class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{lang.logout_modal.title}}</h5>
            </div>
            <div class="modal-body">
                {{lang.logout_modal.body}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-update" (click)="cancel()">{{lang.logout_modal.confirm}}</button>
                <button type="button" class="btn btn-delete" (click)="logout()">{{lang.logout_modal.cancel}}</button>
            </div>
        </div>
    </div>
</div>