<div class="modal fade" id="registerModal" tabindex="-1"
    aria-labelledby="registerModalLabe1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Register</h5>
                <button type="button" class="btn-close btn-close-white"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="isRegisterDataTrue()">
                    <div class="mb-3">
                        <label for="newUserName" class="form-label">User Name</label>
                        <input type="text" class="text"
                            id="newUserName" formControlName="user" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email
                            address</label>
                        <input type="email" class="text"
                            id="email" formControlName="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" value="" class="text"
                            id="phoneNumber" formControlName="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Password</label>
                        <input type="password" class="text"
                            id="newPassword" formControlName="password" required>
                    </div>
                    <div class="list-group card-body">
                        <button type="submit" [disabled]="!this.form.valid" data-bs-dismiss="modal" class="btn button-register">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>