<div class="modal fade" id="registerModal" tabindex="-1"
    aria-labelledby="registerModalLabe1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Register</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputUserName1" class="form-label">User Name</label>
                        <input type="text" class="form-control"
                            id="exampleInputUserName1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email
                            address</label>
                        <input type="email" class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPhoneNumber1" class="form-label">Phone Number</label>
                        <input type="text" value="null" class="form-control"
                            id="exampleInputPhoneNumber1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input"
                            id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check
                            me out</label>
                    </div>
                    <div class="list-group card-body">
                        <button type="submit" class="btn btn-primary"
                            onclick="location.href='index.html'">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
    class="modal fade"
-->