.modal-content {
    background-color: #202124;
    color: white;
    border: solid #ffffff 3px;
}

.button-register:hover {
    box-shadow: 0px 15px 20px rgb(127, 0, 253);
}

.button-register:active {
    border: solid #0dedfd 3px;
}

.form-text {
    color: white;
}

.button-register {
    color: white;
    border: solid rgb(127, 0, 253) 3px;
}

.form-control {
    background-color: red;
    color: orange;
}

.text {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #fff solid 2px;
}

.text:hover {
    color: #fff;
    border-bottom: rgb(127, 0, 253) solid 2px;
    transition: border 0.2s linear;
}

.text::after {
    border-bottom: rgb(127, 0, 253) solid 2px;
    color: #fff;
}

.text:-webkit-autofill,
.text:-webkit-autofill:hover,
.text:-webkit-autofill:focus,
.text:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.modal-header {
    border-bottom: #ffffff 1px solid;
}

::-ms-reveal {
    color: white;
}

::-ms-reveal {
    filter: invert(100%);
}