.navbar {
    min-height: 58px !important;
}

.navbar-header {
    padding-inline: 17px !important;
}

.btn-toggler {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: var(--bs-navbar-toggler-font-size);
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -255px;
    margin-top: var(--bs-dropdown-spacer);
    background-color: var(--modal-color);
    border: none;
    border-radius: 10px;
    width: 300px;
}

.dropdown {
    list-style-type: none
}

.m-title {
    margin-right: 0px;
}

.dropdown-item:hover {
    background-color: var(--backgroud-color);
    color: var(--menu-text-color);
    user-select: none;
}

.nav-link span {
    user-select: none;
}

.offcanvas {
    background-color: var(--backgroud-color);
    max-width: 240px;
}


.slider-flex {
    transition: max-width 0.2s ease-in-out, padding-inline 0.2s ease-in-out;
    max-width: 240px;
}

.slider-min {
    transition: max-width 0.3s ease-in-out, padding-inline 0.3s ease-in-out;
    max-width: 74px;
    padding-inline: 3px;
}

.offcanvas-header {
    justify-content: flex-start;
    padding: 7px;
    padding-left: 10px;
    font-size: larger;
}

.offcanvas-body {
    padding: 12px;
}

.offcanvas-title {
    cursor: pointer;
}

.navbar-brand {
    margin-inline: 10px;
    cursor: pointer;
}

.min-vh-90 {
    min-height: calc(100vh - 59px);
}

.page {
    min-height: calc(100vh - 164px);
    box-sizing: border-box;
}