<form [formGroup]="form" (ngSubmit)="addMember()">
    <div class="mb-3" style="padding-block: 2%;">
        <label class="form-label" for="userName">User Name or Email</label>
        <input class="text" id="userName" name="userName" formControlName="userName" required type="text"
            placeholder="Enter User Name or Email" aria-describedby="userNameHelp" />
    </div>

    <!-- Include a div for additional information -->
    <div id="userNameHelp" class="form-text">Enter your unique user name or email address.</div>

    <div class="mb-3" style="padding-block: 2%;">
        <label class="form-label" for="userRole">Select Role</label>
        <select class="select" formControlName="userRole" id="userRole" aria-label="Select User Role">
            <option value="1">Analyst</option>
            <option value="2">Designer</option>
            <option value="3">Programmer</option>
        </select>
    </div>

    <div class="list-group card-body">
        <button type="submit" data-bs-dismiss="modal" [disabled]="form.invalid" class="btn btn-update"
            aria-label="Add Member">Add Member</button>
    </div>
</form>