<div *ngIf="project">
    <nav class="nv-projct navbar navbar-dark">
        <div class="container-fluid content-project">
            <h1 class="navbar-brand">{{project.title}} - Members</h1>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <button class="button-options" data-bs-toggle="modal"
                        data-bs-target="#projectOptions">Options</button>
                    <button class="button-options" routerLink="../">Activities</button>
                </li>
            </ul>
        </div>
    </nav>


    <div class="d-flex align-items-start nav-ver-margin">
        <div class="tab-content" [class.w-100]="active" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-information" role="tabpanel"
                aria-labelledby="v-pills-information-tab" tabindex="0">
                <div class="container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>