<div>
    <nav class="nv-projct navbar navbar-dark col-12">
        <div class="container-fluid content-project">
            <h1 class="navbar-brand navbar-title" *ngIf="project" [attr.data-bs-toggle]="isMobile ? 'collapse' : null"
                data-bs-target="#membersOptions">{{project.title}} - {{lang.pather_members}}</h1>
            <h1 class="navbar-brand navbar-title" *ngIf="!project">{{lang.pather_members}}</h1>

            <div *ngIf="isMobile" class="collapse navbar-collapse options" id="membersOptions">
                <ul class="navbar-nav">
                    <button class="button-options" data-bs-toggle="modal"
                        data-bs-target="#projectOptions"><i class="fa-solid fa-gear"></i> {{lang.options}}</button>
                    <button class="button-options" routerLink="../"><i class="fa-solid fa-list-check"></i> {{lang.activities}}</button>
                </ul>
            </div>

            <ul *ngIf="!isMobile" class="navbar-nav d-flex">
                <li class="nav-item">
                    <button class="button-options" data-bs-toggle="modal"
                        data-bs-target="#projectOptions">{{lang.options}}</button>
                    <button class="button-options" routerLink="../">{{lang.activities}}</button>
                </li>
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>
    <app-project-options *ngIf="project" [project]="project"></app-project-options>
</div>