.modal-content {
    background-color: #202124;
    color: white;
    border: solid #ffffff 3px;
}



.text {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #fff solid 2px;
}

.text:hover {
    color: #fff;
    border-bottom: #fd9048 solid 2px;
    transition: border 0.2s linear;
}

.text::after {
    border-bottom: #fd9048 solid 2px;
    color: #fff;
}

.text:-webkit-autofill,
.text:-webkit-autofill:hover,
.text:-webkit-autofill:focus,
.text:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}



.textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border: #fff solid 2px;
    min-height: 50px;
}

.textarea:hover {
    color: #fff;
    border: #fd9048 solid 2px;
    transition: border 0.2s linear;
}

.textarea::after {
    border: #fd9048 solid 2px;
    color: #fff;
}

.textarea:-webkit-autofill,
.textarea:-webkit-autofill:hover,
.textarea:-webkit-autofill:focus,
.textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.modal-header {
    border-bottom: #ffffff 1px solid;
}

::-webkit-calendar-picker-indicator {
    color: white;
}

::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background-color: #202124;
}

.form-check-input:checked {
    background-color: rgb(162, 0, 255);
    border-color: rgb(162, 0, 255);
    border-radius: 45px;
}

.form-check-input {
    background-color: white;
    border-color: rgb(162, 0, 255);
    border-radius: 45px;
}

.checkbox-div {
    border-bottom: #fff solid 2px;
}

.checkbox-div:hover {
    border-bottom: #fd9048 solid 2px;
}




.button-change:hover {
    box-shadow: 0px 15px 20px #fd9048;
}

.button-change:active {
    border: solid #0d6efd 3px;
    box-shadow: 0px 15px 20px #0d6efd;
}

.button-change {
    color: white;
    border: solid #fd9048 3px;
}

.button-close:hover {
    box-shadow: 0px 15px 20px #0395ce;
}

.button-close:active {
    border: solid #03ce14 3px;
    box-shadow: 0px 15px 20px #03ce14;
}

.button-close {
    color: white;
    border: solid #0395ce 3px;
}

.button-delete:hover {
    box-shadow: 0px 15px 20px #ce0303;
}

.button-delete:active {
    border: solid #474747 3px;
    box-shadow: 0px 15px 20px #474747;
}

.button-delete {
    color: white;
    border: solid #ce0303 3px;
}

