<div class="card-aling card-center" [class.card-aling-u]="member.rolName != 'Leader'" [attr.data-bs-toggle]="member.rolName != 'Leader' ? 'modal' : null" [attr.data-bs-target]="member.rolName != 'Leader' ? '#member' + member.userName : null">
    <div class="card card-u">
        <img [src]="iconPathFull+member.userIcon+'.jpg'" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{member.userName}}</h5>
            <p>
                {{member.rolName}}
            </p>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<!-- Modal -->
<div *ngIf="member.rolName != 'Leader'" class="modal fade" [id]="'member' + member.userName" tabindex="-1" aria-labelledby="exampleModalLabel"
    data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{lang.member}} - {{member.userName}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label class="form-label" for="userRole">{{lang.change_rol}}</label>
                        <select class="select" formControlName="userRole" id="userRole" aria-label="Change User Role">
                            <option value="1">{{lang.analyst}}</option>
                            <option value="2">{{lang.designer}}</option>
                            <option value="3">{{lang.programmer}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-delete" (click)="deletedMember()" data-bs-dismiss="modal">{{lang.remove}}</button>
                <button type="button" class="btn btn-update" (click)="updateMember()" data-bs-dismiss="modal" [disabled]="form.invalid"
                    aria-label="Update Member">{{lang.update_member}}</button>
            </div>
        </div>
    </div>
</div>