<div class="modal fade" #loadScreen id="loadScreen" tabindex="-1" aria-labelledby="loadScreenLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{lang.loading}}</h4>
                <div class="lds-ellipsis">
                    <div class="ellipsis-1 ellipsis"></div>
                    <div class="ellipsis-2 ellipsis"></div>
                    <div class="ellipsis-3 ellipsis"></div>
                    <div class="ellipsis-4 ellipsis"></div>
                </div>
            </div>
        </div>
    </div>
</div>