option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background-color: #202124;
}



.checkbox-div {
    border-bottom: var(--text-color) solid 2px;
}

.checkbox-div:hover {
    border-bottom: #fd9048 solid 2px;
}




.button-save:hover {
    box-shadow: 0px 15px 20px #fd9048;
}

.button-save:active {
    border: solid #0d6efd 3px;
    box-shadow: 0px 15px 20px #0d6efd;
}

.button-save {
    color: var(--text-color);
    border: solid #fd9048 3px;
}

.button-close:hover {
    box-shadow: 0px 15px 20px #0395ce;
}

.button-close:active {
    border: solid #03ce14 3px;
    box-shadow: 0px 15px 20px #03ce14;
}

.button-close {
    color: var(--text-color);
    border: solid #0395ce 3px;
}