<div class="modal fade" id="addActivity" tabindex="-1" aria-labelledby="addActivityLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Activity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="addCancel()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="addActivity()">
                    <div class="mb-3">
                        <label class="form-label">Activity name</label>
                        <input class="text" required formControlName="title" maxlength="30" type="text"
                            placeholder="Name Activity" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description Activity</label>
                        <textarea class="textarea" required formControlName="subtitle" rows="3" maxlength="150"
                            placeholder="Description Activity"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select formControlName="status" class="select" name="statusActivity">
                            <option *ngFor="let item of statusType; let i = index" [value]="item.Id">{{item.statusName}}
                            </option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Participating roles</label>
                    </div>
                    <div class="mb-3 checkbox">
                        <input formControlName="rolesListAnalyst" type="checkbox" id="analystCheck">
                        <label class="form-check-label" for="analystCheck">Analyst</label>
                    </div>
                    <div class="mb-3 checkbox">
                        <input formControlName="rolesListDesigner" type="checkbox" id="designerCheck">
                        <label class="form-check-label" for="designerCheck">Designer</label>
                    </div>
                    <div class="mb-3 checkbox">
                        <input formControlName="rolesListProgrammer" type="checkbox" id="programmerCheck">
                        <label class="form-check-label" for="programmerCheck">Programmer</label>
                    </div>
                    <div class="mb-3">
                        <label class="control-label" for="dateEnd">Completion
                            date</label>
                        <input formControlName="dateEnd" required class="date" name="dateEnd"
                            placeholder="MM/DD/YYYY" type="date" />
                    </div>
                    <div class="list-group card-body">
                        <button type="submit" [disabled]="!this.form.valid" class="btn btn-update"
                            data-bs-dismiss="modal">Add Activity</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>