option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background-color: #202124;
}



.checkbox-div {
    border-bottom: var(--text-color) solid 2px;
}

.checkbox-div:hover {
    border-bottom: #fd9048 solid 2px;
}




.button-save:hover {
    box-shadow: 0px 15px 20px #fd9048;
}

.button-save:active {
    border: solid #0d6efd 3px;
    box-shadow: 0px 15px 20px #0d6efd;
}

.button-save {
    color: var(--text-color);
    border: solid #fd9048 3px;
}

.button-close:hover {
    box-shadow: 0px 15px 20px #0395ce;
}

.button-close:active {
    border: solid #03ce14 3px;
    box-shadow: 0px 15px 20px #03ce14;
}

.button-close {
    color: var(--text-color);
    border: solid #0395ce 3px;
}




.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /* Espacio entre las imágenes */
}

.grid-item {
    /* Ajusta el tamaño de los elementos según sea necesario */
    width: 100%;
}

.grid-item img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    cursor: pointer;
    user-select: none;
    border: transparent 2px solid;
    transition: all 0.3s ease 0s;
}

.grid-item img.active {
    border: var(--text-color) 2px solid;
    cursor: default;
}

.grid-item img:hover {
    border: var(--text-color) 2px solid;
}

.fa-solid {
    transition: transform 0.3s ease;
}

.fa-solid.rotate-up {
    transform: rotate(180deg);
}

.drop-down {
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease 0s;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;
}

.drop-down:hover {
    color: var(--primary-color);
}