a {
    cursor: pointer;
    text-decoration: none;
}

* {
    color: white;
    
}

.text-sub {
    color: white;
}


.button-login {
    padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
    border-radius: 10px;
    border: solid #4930cd 2px;
}

.button-login:hover {
    box-shadow: 0px 5px 20px #4930cd;
}

.button-login:focus {
    border: solid #00008e 2px;
    box-shadow: 0px 5px 20px #00008e;
}

.button-register {
    padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #0dedfd00;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
    border-radius: 10px;
    border: solid #00008e 2px;
}

.button-register:hover {
    box-shadow: 0px 5px 20px #00008e;
}

.button-register:focus {
    border: solid #4930cd 2px;
    box-shadow: 0px 5px 20px #4930cd;
}


.btn-ghost {
    border: transparent solid 2px;
    color: transparent;
    background-color: transparent;
    box-shadow: none;
}

.img-thumbnail {
    background-color: black;
    border: white 1px solid;
    transition: all 0.3s ease 0s;
}

.img-thumbnail:hover {
    border: greenyellow 1px solid;
    box-shadow: 0px 15px 20px greenyellow;
    transform: translateY(-7px);
}

.img-thumbnail:active {
    border: white 1px solid;
    box-shadow: 0px 15px 20px white;
    transform: translateY(-7px);
}