<header class="py-5 border-bottom">
    <div class="container-xxl bd-gutter pt-md-1 pb-md-4">
        <div class="row">
            <div class="col-xl-8">
                <h1 class="bd-title mt-0">{{lang.home_title}}</h1>
                <p class="bd-lead">{{lang.home_slogan}}</p>
                <div class="d-flex flex-column flex-md-row gap-3">
                    <a routerLink="register"
                        class="btn button-register" [class.btn-ghost]="loginService.isLogin()" [class.disabled]="loginService.isLogin()">
                        {{lang.home_register}}
                    </a>
                    <a routerLink="login"
                        class="btn button-login" [class.btn-ghost]="loginService.isLogin()" [class.disabled]="loginService.isLogin()">
                        {{lang.home_login}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="bd-content order-1 py-5" id="content">
    <div class="container-xl bd-gutter">

        <div class="row g-lg-5 mb-5">
            <div class="bd-content col-lg-3">
                <h2 id="snippets">{{lang.home_create_projects}}</h2>
                <p>{{lang.home_create_team_project_tool}}</p>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block" routerLink="projects">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/projects.png"
                                alt="">
                            <h3 class="h5 mb-1">{{lang.projects}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_create_several_projects}}</p>
                    </div>


                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block"
                            (click)="openActivity()">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/activities.png"
                                alt="">
                            <h3 class="h5 mb-1">{{lang.activities}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_create_activities}}</p>
                    </div>


                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block"
                            (click)="openActivity()">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/change_project.png"
                                alt="">
                            <h3 class="h5 mb-1">{{lang.home_modify_project}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_make_changes_modify_project}}</p>
                    </div>


                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block"
                            (click)="openMembers()">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/add_remove_member.png"
                                alt="">
                            <h3 class="h5 mb-1">{{lang.home_add_remove_members}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_add_remove_project_members}}</p>
                    </div>
                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block"
                            (click)="openActivity()">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/edit_activity.png"
                                alt="">
                            <h3 class="h5 mb-1">{{lang.home_change_activity_elements}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_edit_activity_elements}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>