a {
    cursor: pointer;
    text-decoration: none;
}

.about-link {
    transition: all 0.3s ease 0s;
}

.about-link:hover {
    color: var(--primary-color) !important;
}

* {
    color: var(--text-color);
}

.text-sub {
    color: var(--text-color);
}


.button-login {
    padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--text-color);
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
    border-radius: 10px;
    border: solid var(--options-color) 2px;
}

.button-login:hover {
    box-shadow: 0px 8px 15px rgb(116, 116, 116);
}

.button-login:focus {
    border: solid var(--danger-color) 2px;
    box-shadow: 0px 8px 15px rgb(116, 116, 116);
}

.button-register {
    padding: 1.3em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--text-color);
    background-color: #0dedfd00;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
    border-radius: 10px;
    border: solid var(--danger-color) 2px;
}

.button-register:hover {
    box-shadow: 0px 8px 15px rgb(116, 116, 116);
}

.button-register:focus {
    border: solid var(--options-color) 2px;
    box-shadow: 0px 8px 15px rgb(116, 116, 116);
}


.btn-ghost {
    border: transparent solid 2px;
    color: transparent;
    background-color: transparent;
    box-shadow: none;
}

.img-thumbnail {
    background-color: black;
    border: var(--text-color) 1px solid;
    transition: all 0.3s ease 0s;
}

.img-thumbnail:hover {
    transform: translateY(-7px);
}

.img-thumbnail:active {
    border: var(--text-color) 1px solid;
    box-shadow: 0px 15px 20px var(--text-color);
    transform: translateY(-7px);
}
.video-container {
    justify-content: center;
}

.video-size {
    width: 40%;
    height: 100%;
    border-radius: 15px  !important;
    filter: blur(2px); /* Aplica el efecto difuminado al video */
}

@media (max-width: 992px) {
    .video-size {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        padding: 0px 12px;
        border-radius: 15px  !important;
        filter: blur(2px); /* Aplica el efecto difuminado al video */
    }
}

.video-text {
    text-align: justify;
}

.video-text-p-left {
    padding-left: 15px;
}


.video-text-p-right {
    padding-right: 15px;
}


/*.video-container {
    display: grid;
    justify-content: center;
}*/
.container-justify{
    text-align: justify;
    padding-right: 20px;
}

.container-alingh{
    text-align: justify;
    padding-left: 20px;

}



