<header class="py-5 border-bottom">
    <div class="container-xxl bd-gutter pt-md-1 pb-md-4">
        <div class="row">
            <div class="col-xl-8">
                <h1 class="bd-title mt-0">My Proyect Manager</h1>
                <p class="bd-lead">Where your ideas find their way.</p>
                <div class="d-flex flex-column flex-md-row gap-3">
                    <a routerLink="register"
                        class="btn button-register" [class.btn-ghost]="loginService.isLogin()" [class.disabled]="loginService.isLogin()">
                        Create Account
                    </a>
                    <a routerLink="login"
                        class="btn button-login" [class.btn-ghost]="loginService.isLogin()" [class.disabled]="loginService.isLogin()">
                        Login Account
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="bd-content order-1 py-5" id="content">
    <div class="container-xxl bd-gutter">

        <div class="row g-lg-5 mb-5">
            <div class="bd-content col-lg-3">
                <h2 id="snippets">Create projects</h2>
                <p>Create a team project with this project management
                    tool.</p>
            </div>

            <div class="col-lg-9" style="padding-right: 0px; padding-left: 0px;">
                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-3">
                        <a class="d-block" routerLink="projects">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/projects.png"
                                alt="" width="480" height="300">
                            <h3 class="h5 mb-1">Projects</h3>
                        </a>
                        <p class="text-sub">Create several projects at
                            once.</p>
                    </div>


                    <div class="col-sm-6 col-md-4 mb-3">
                        <a class="d-block"
                            (click)="openActivity()">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/activities.png"
                                alt="" width="480" height="300">
                            <h3 class="h5 mb-1">Activities</h3>
                        </a>
                        <p class="text-sub">Create activities for each
                            of your projects.</p>
                    </div>


                    <div class="col-sm-6 col-md-4 mb-3">
                        <a class="d-block"
                            (click)="openActivity()">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/change_project.png"
                                alt="" width="480" height="300">
                            <h3 class="h5 mb-1">Modify your project</h3>
                        </a>
                        <p class="text-sub">Make changes to modify
                            your project.</p>
                    </div>


                    <div class="col-sm-6 col-md-4 mb-3">
                        <a class="d-block"
                            (click)="openMembers()">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/add_remove_member.png"
                                alt="" width="480" height="300">
                            <h3 class="h5 mb-1">Add and remove Members</h3>
                        </a>
                        <p class="text-sub">You can add or remove your
                            project members.</p>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3">
                        <a class="d-block"
                            (click)="openActivity()">
                            <img class="img-thumbnail mb-3"
                                src="./assets/img/caps/edit_activity.png"
                                alt="" width="480" height="300">
                            <h3 class="h5 mb-1">Changes activity
                                elements</h3>
                        </a>
                        <p class="text-sub">You can edit elements of
                            your activities in a simple way.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container">
        <p class="float-end">
            <a href="#">Back to top</a>
        </p>
        <p>&copy; 2022–2024</p>
        <p>
            <a href="https://www.facebook.com/people/Empresa-Mpm/pfbid02D7dy3mNRVNa9vLoL8HbbkckTEKrBQetPwqwEyheGiURXseqjaUax9cc7CDNSn6V2l/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook"></i> <!-- Icono de Facebook -->
            </a>
        </p>
    </footer>
</main>