<header class="py-5 border-bottom">
    <div class="container-xxl bd-gutter pt-md-1 pb-md-4">
        <div class="row">
            <div class="col-xl-8">
                <h1 class="bd-title mt-0">{{lang.home_title}}</h1>
                <p class="bd-lead">{{lang.home_slogan}}</p>
                <div class="d-flex flex-column flex-md-row gap-3">
                    <a routerLink="register" class="btn button-register" [class.btn-ghost]="loginService.isLogin()"
                        [class.disabled]="loginService.isLogin()">
                        {{lang.home_register}}
                    </a>
                    <a routerLink="login" class="btn button-login" [class.btn-ghost]="loginService.isLogin()"
                        [class.disabled]="loginService.isLogin()">
                        {{lang.home_login}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="bd-content order-1 py-5" id="content">
    <div class="container-xl bd-gutter">

        <div class="row g-lg-5 mb-5">
            <div class="bd-content col-lg-3">
                <h2 id="snippets">{{lang.home_create_projects}}</h2>
                <p>{{lang.home_create_team_project_tool}}</p>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block" routerLink="projects">
                            <img class="img-thumbnail mb-3" src="./assets/img/caps/projects.png" alt="">
                            <h3 class="h5 mb-1">{{lang.projects}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_create_several_projects}}</p>
                    </div>


                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block" [routerLink]="activityUrl">
                            <img class="img-thumbnail mb-3" src="./assets/img/caps/activities.png" alt="">
                            <h3 class="h5 mb-1">{{lang.activities}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_create_activities}}</p>
                    </div>

                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block" [routerLink]="activityUrl != '' ? [activityUrl, 'members'] : ''">
                            <img class="img-thumbnail mb-3" src="./assets/img/caps/add_remove_member.png" alt="">
                            <h3 class="h5 mb-1">{{lang.home_add_remove_members}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_add_remove_project_members}}</p>
                    </div>


                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block" [routerLink]="activityUrl">
                            <img class="img-thumbnail mb-3" src="./assets/img/caps/change_project.png" alt="">
                            <h3 class="h5 mb-1">{{lang.home_modify_project}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_make_changes_modify_project}}</p>
                    </div>

                    <div class="p-2 col-sm-4 col-md-4 mb-2">
                        <a class="d-block" [routerLink]="activityUrl">
                            <img class="img-thumbnail mb-3" src="./assets/img/caps/edit_activity.png" alt="">
                            <h3 class="h5 mb-1">{{lang.home_change_activity_elements}}</h3>
                        </a>
                        <p class="text-sub">{{lang.home_edit_activity_elements}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <app-carousel></app-carousel>
        <hr>
        <div class="video-container col-12" [class.d-flex]="!isMobile">
            <p class="video-text col-7" [class.col-12]="isMobile" [class.video-text-p-right]="!isMobile">
                MPM representa una solución integral para la gestión y administración de proyectos, específicamente
                diseñada para atender las necesidades de equipos de desarrollo. Esta página web se destaca por su
                capacidad de simplificar la complejidad inherente a la asignación y seguimiento de proyectos y
                actividades. Mediante una interfaz intuitiva y fácil de usar, MPM permite a sus usuarios gestionar
                eficientemente las diferentes etapas de los proyectos, desde su inicio hasta su conclusión.

                Una de las características más valoradas de MPM es su sistema de visualización de tareas, que clasifica
                las actividades en categorías como asignadas, en proceso, completadas y pausadas. Esta clasificación
                facilita a los equipos el seguimiento preciso del avance de cada proyecto, permitiendo identificar
                rápidamente cualquier retraso o área de mejora.
                Además, MPM introduce un sistema de roles detallado, donde cada miembro del equipo recibe asignaciones
                claras según su posición, como líder de proyecto, analista, diseñador o desarrollador. Esta asignación
                de roles asegura que todos los integrantes del equipo comprendan sus responsabilidades específicas,
                fomentando una colaboración efectiva y una comunicación fluida dentro del equipo.
            </p>
            <video autoplay [muted]="'muted'" loop class="video-size" [class.col-4]="!isMobile"
                [class.col-12]="isMobile">
                <source src="https://mpm-back-end-node.onrender.com/api/videos/publicidad.mp4" type="video/mp4">
                Tu navegador no soporta videos HTML5.
            </video>
        </div>
        <br>
        <div class="video-container col-12" [class.d-flex]="!isMobile" style="margin-bottom: 0px;">
            <video *ngIf="!isMobile" autoplay [muted]="'muted'" loop class="video-size col-4">
                <source src="https://mpm-back-end-node.onrender.com/api/videos/publicidad_1.mp4" type="video/mp4">
                Tu navegador no soporta videos HTML5.
            </video>
            <div class="video-text col-7" [class.col-12]="isMobile" [class.video-text-p-left]="!isMobile">
                <p>
                    La plataforma está diseñada para ofrecer un control exhaustivo sobre los proyectos, mejorando
                    significativamente la organización y la productividad del equipo. Con MPM, los líderes de proyecto
                    pueden asignar tareas de manera eficaz, monitorear el progreso en tiempo real y tomar decisiones
                    informadas basadas en datos precisos y actualizados.

                    En resumen, MPM no es solo una herramienta de gestión de proyectos; es un aliado estratégico que
                    transforma la forma en que los equipos de desarrollo planifican, ejecutan y monitorean sus
                    proyectos.
                    Al proporcionar una solución completa que abarca desde la asignación de tareas hasta el seguimiento
                    del
                    progreso y la asignación de roles, MPM permite a los equipos alcanzar sus objetivos con
                    mayor eficiencia, claridad y control.
                </p>
            </div>

            <video *ngIf="isMobile" autoplay [muted]="'muted'" loop class="video-size col-12">
                <source src="https://mpm-back-end-node.onrender.com/api/videos/publicidad_1.mp4" type="video/mp4">
                Tu navegador no soporta videos HTML5.
            </video>

        </div>

    </div>

</main>

<app-footer></app-footer>