.modal-content {
    background-color: #202124;
    color: white;
    border: solid #ffffff 3px;
}

.button-login:hover {
    box-shadow: 0px 15px 20px #f1c0ff;
}

.button-login:active {
    border: solid #f1c0ff 3px;
    box-shadow: 0px 15px 20px #ffffff;
}

.form-text {
    color: white;
}

.button-login {
    transition: all 0.3s ease 0s;
    color: white;
    border: solid #f1c0ff 3px;
}

.form-control {
    background-color: red;
    color: orange;
}

.text {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #fff solid 2px;
}

.text::after {
    border-bottom: #6347ee solid 2px;
    color: #fff;
}

.text:focus {
    border-bottom: #6347ee solid 2px;
}


.text:-webkit-autofill,
.text:-webkit-autofill:hover,
.text:-webkit-autofill:focus,
.text:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.modal-header {
    border-bottom: #ffffff 1px solid;
}

::-ms-reveal {
    color: white;
}

::-ms-reveal {
    filter: invert(100%);
}


.login {
    margin-top: 10%;
    width: 40%;
    padding: 20px;
}

.login-content {
    color: #fff;
}

.login-header {
    margin-bottom: 20px;
    text-align: center;
}

.login-component {
    height: 100%;
    display: flex;
    width: 100%;
}

.slider {
    margin: 0 auto;
    color: white;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

@media (max-width: 992px) {

    .login-component {
        height: 100%;
        display: block;
        width: 100%;
    }

    .slider {
        width: 100%;
        padding-top: 5px;
    }

    .login {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
    }
}