<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">MPM</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/projects" (click)="reloadProjects()"  [class.disabled]="isLogin == false">Projects</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex" *ngIf="isLogin == false">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="" data-bs-toggle="modal"
                            data-bs-target="#registerModal">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" data-bs-toggle="modal"
                        data-bs-target="#loginModal">Login</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex" *ngIf="isLogin == true">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                        routerLink="/" (click)="logout()">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/account">Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<app-register-section></app-register-section>
<app-login-section (loginDate)="loginDate()"></app-login-section>