<div>
    <nav class="nv-projct navbar navbar-dark col-12">
        <div class="container-fluid content-project">
            <h1 class="navbar-brand navbar-title" [attr.data-bs-toggle]="isMobile ? 'collapse' : null"
                data-bs-target="#projectsOptions">
                {{lang.projects}}</h1>

            <div *ngIf="isMobile" class="collapse navbar-collapse options" id="projectsOptions">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="button-options" data-bs-toggle="modal"
                            data-bs-target="#createProject"><i class="fa-solid fa-plus"></i> {{lang.projects_create}}</button>
                    </li>
                </ul>
            </div>

            <ul *ngIf="!isMobile" class="navbar-nav d-flex">
                <li class="nav-item">
                    <button class="button-options" data-bs-toggle="modal"
                        data-bs-target="#createProject">{{lang.projects_create}} <i
                            class="fa-solid fa-plus fa-xs"></i></button>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container-fluid">
        <input type="text" [(ngModel)]="searchTerm" placeholder="{{lang.projects_search}}" class="text mb-3">
        <app-project-item *ngFor="let project of filteredProjects" [project]="project"></app-project-item>
    </div>
    <app-add-project></app-add-project>
</div>

<app-load-screen></app-load-screen>