<div class="modal fade" id="editActivity" tabindex="-1" aria-labelledby="editActivityLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{dataServiceModal.getModalActivity().title}}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="editActivity()">
                    <div class="mb-3">
                        <label class="form-label" for="nameActivity">Change
                            activity name</label>
                        <input class="text" type="text" formControlName="title"
                            placeholder="{{dataServiceModal.getModalActivity().title}}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Change description</label>
                        <textarea class="textarea" rows="3" formControlName="subtitle"
                            placeholder="{{dataServiceModal.getModalActivity().subtitle}}"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Change status</label>
                        <select formControlName="status" class="text" aria-label="Default
                            select example">
                            <option value="1" [selected]="dataServiceModal.getModalActivity().status == 1">Unassigned</option>
                            <option value="2" [selected]="dataServiceModal.getModalActivity().status == 2">In progress</option>
                            <option value="3" [selected]="dataServiceModal.getModalActivity().status == 3">Completed</option>
                            <option value="4" [selected]="dataServiceModal.getModalActivity().status == 4">Pause</option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Participating roles</label>
                    </div>
                    <div class="mb-3 checkbox">
                        <input type="checkbox" id="checkanalystedit" formControlName="rolesListAnalyst"
                            [checked]="dataServiceModal.getModalActivity().analyst">
                        <label class="form-check-label" for="checkanalystedit"> Analyst</label>
                    </div>
                    <div class="mb-3 checkbox">
                        <input type="checkbox" id="checkdesigneredit" formControlName="rolesListDesigner"
                            [checked]="dataServiceModal.getModalActivity().designer">
                        <label class="form-check-label" for="checkdesigneredit">Designer</label>
                    </div>
                    <div class="mb-3 checkbox">
                        <input type="checkbox" id="checkprogrammeredit" formControlName="rolesListProgrammer"
                            [checked]="dataServiceModal.getModalActivity().programmer">
                        <label class="form-check-label" for="checkprogrammeredit">Programmer</label>
                    </div>
                    <div class="mb-3">
                        <label class="control-label" for="date">Completion
                            date</label>
                        <br>
                        <label class="control-label" for="date">Actual date
                            {{dataServiceModal.getModalActivity().dateEnd}}</label>
                        <input formControlName="dateEnd" class="date" name="date" placeholder="MM/DD/YYYY"
                            type="date" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn button-delete" data-bs-dismiss="modal"
                            (click)="removeActivity()">Remove</button>
                        <button type="button" class="btn button-close" data-bs-dismiss="modal">Close</button>
                        <button type="submit" data-bs-dismiss="modal" class="btn button-change">Save
                            changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>