<div>
    <nav class="nv-projct navbar navbar-dark border-bottom">
        <div class="container-fluid content-project">
            <h1 class="navbar-brand navbar-title" id="nav-account" data-bs-toggle="collapse"
                data-bs-target="#accountInfoNav" aria-controls="accountInfoNav" aria-expanded="false"
                aria-label="Toggle navigation"><i *ngIf="isMobile" class="fa-regular fa-circle-user"></i>&nbsp;&nbsp;
                Account settings
                &nbsp;&nbsp;<i class="fa-solid fa-angles-down" *ngIf="isMobile && !isAriaExpanded"></i><i
                    class="fa-solid fa-angles-up" *ngIf="isMobile && isAriaExpanded"></i></h1>
        </div>

        <div *ngIf="isMobile" class="container-fluid" style="text-align: center;">
            <div class="collapse navbar-collapse" id="accountInfoNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" (click)="informationTab.click()" type="button">Information</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" (click)="updateInformationTab.click()" type="button">Update
                            Information</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex align-items-start nav-ver-margin nav-flex">
        <div [hidden]="isMobile" class="nav flex-column nav-pills col-2" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <button class="nav-link nav-link-margin active" #informationTab id="v-pills-information-tab"
                data-bs-toggle="pill" data-bs-target="#v-pills-information" type="button" role="tab"
                aria-controls="v-pills-information" aria-selected="false">Information</button>
            <!-- <button class="nav-link nav-link-margin" #updateInformationTab
                id="v-pills-update-information-tab" data-bs-toggle="pill" data-bs-target="#v-pills-update-information"
                type="button" role="tab" aria-controls="v-pills-update-information" aria-selected="false">Update
                Information</button>

            <button class="nav-link-delete nav-link nav-link-margin" type="button">Delete Account</button> -->
        </div>
        <div class="navbar navbar-expand-lg bg-body-tertiary ">

        </div>
        <div class="tab-content w-100" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-information" role="tabpanel"
                aria-labelledby="v-pills-information-tab" tabindex="0">
                <div class="container">
                    <div class="row">
                        <div>
                            <form>
                                <div class="input-group w-100">
                                    <div class="col-6 input-info">
                                        <div class="col-10">
                                            <label class="form-label" for="name">Username</label>
                                            <input class="text" name="name" type="text" disabled
                                                placeholder="{{loginService.getUserInfo().userName}}" />
                                        </div>
                                        <div class="col-2 cont-edit-btn">
                                            <button class="btn btn-lg" type="button" (click)="editNameModal()">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-6 input-info">
                                        <div class="col-10">
                                            <label class="form-label" for="email">Email
                                                address</label>
                                            <input class="text" name="email" type="text" disabled
                                                placeholder="{{loginService.getUserInfo().userMail}}" />
                                        </div>

                                        <div class="col-2 cont-edit-btn">
                                            <button class="btn btn-lg" type="button" (click)="editEmailModal()">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group w-100">
                                    <div class="col-6 input-info">
                                        <div class="col-10">
                                            <label for="phone" class="form-label">Phone</label>
                                            <input type="tel" class="text" disabled
                                                placeholder="{{loginService.getUserInfo().phoneNumber}}">
                                        </div>
                                        <div class="col-2 cont-edit-btn">
                                            <button class="btn btn-lg" type="button" (click)="editPhoneModal()">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6 input-info">
                                        <div class="col-10">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" class="text" disabled placeholder="*******">
                                        </div>
                                        <div class="col-2 cont-edit-btn">
                                            <button class="btn btn-lg" type="button" (click)="editPasswordModal()">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="tab-pane fade" id="v-pills-update-information" role="tabpanel"
                aria-labelledby="v-pills-update-information-tab" tabindex="0">
                
            </div> -->
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{modal.title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="modal.type == 'name'" id="editName">
                    <form [formGroup]="formName" (ngSubmit)="updateName()">
                        <div class="mb-3">
                            <label class="form-label" for="name-update">User Name</label>
                            <input class="text" id="name-update" name="name-update" type="text"
                                formControlName="userName" placeholder="{{loginService.getUserInfo().userName}}"
                                required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="name-update-c">Confirm
                                new User Name</label>
                            <input class="text" id="name-update-c" name="name-update" type="text"
                                formControlName="userNameConfirm" placeholder="{{loginService.getUserInfo().userName}}"
                                required />
                        </div>
                        <div class="list-group card-body">
                            <button type="submit" [disabled]="this.formName.invalid" class="btn
                                btn-update">Update</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="modal.type == 'email'" id="editEmail">
                    <form [formGroup]="formEmail" (ngSubmit)="updateEmail()">
                        <div class="mb-3">
                            <label class="form-label" for="name-update">Email address</label>
                            <input class="text" id="email-update" name="name-update" type="text"
                                formControlName="userEmail" placeholder="{{loginService.getUserInfo().userMail}}"
                                required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="name-update-c">Confirm
                                new Email address</label>
                            <input class="text" id="email-update-c" name="email-update" type="text"
                                formControlName="userEmailConfirm" placeholder="{{loginService.getUserInfo().userMail}}"
                                required />
                        </div>
                        <div class="list-group card-body">
                            <button type="submit" [disabled]="this.formEmail.invalid" class="btn
                                btn-update">Update</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="modal.type == 'phone'" id="editPhone">
                    <form [formGroup]="formPhone" (ngSubmit)="updatePhone()">
                        <div class="mb-3">
                            <label class="form-label" for="phone-update">User Phone</label>
                            <input class="text" id="phone-update" name="phone-update" type="text"
                                formControlName="userPhone" placeholder="{{loginService.getUserInfo().phoneNumber}}"
                                required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="phone-update-c">Confirm
                                new User Name</label>
                            <input class="text" id="phone-update-c" name="phone-update" type="text"
                                formControlName="userPhoneConfirm"
                                placeholder="{{loginService.getUserInfo().phoneNumber}}" required />
                        </div>
                        <div class="list-group card-body">
                            <button type="submit" [disabled]="this.formPhone.invalid" class="btn
                                btn-update">Update</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="modal.type == 'password'" id="editPassword">
                    <form [formGroup]="formPassword" (ngSubmit)="updatePassword()">
                        <div class="mb-3">
                            <label class="form-label" for="password-update">User Password</label>
                            <input class="text" id="password-update" name="password-update" type="password"
                                formControlName="userPassword" placeholder="*******" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password-update-c">Confirm
                                new User Password</label>
                            <input class="text" id="password-update-c" name="password-update" type="password"
                                formControlName="userPasswordConfirm" placeholder="*******" required />
                        </div>
                        <div class="list-group card-body">
                            <button type="submit" [disabled]="this.formPassword.invalid" class="btn
                                btn-update">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>