* {
    color: white;
}

.container {
    padding: 1em;
}

.nav-link-margin {
    margin-top: 20px;
}

.nav-ver-margin {
    margin-left: 10px;
}

.content-project {
    border-top: white 1px solid;
    color: white;
}

.content-project h1 {
    font-size: 30px;
}

.account-container {
    width: 100%;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: transparent;
    border: 3px #8861ff solid;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius);
    border: 3px #00008e solid;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


.nav-link-delete {
    border: 3px #ce0303 solid;
    color: #ce0303;
}

.nav-pills .nav-link-delete {
    background: 0 0;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius);
    border: 3px #ce0303 solid;
}

.text {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #fff solid 2px;
}

.text:hover {
    color: #fff;
    border-bottom: rgb(74, 206, 140) solid 2px;
    transition: border 0.2s linear;
}

.text::after {
    border-bottom: rgb(74, 206, 140) solid 2px;
    color: #fff;
}

.text:-webkit-autofill,
.text:-webkit-autofill:hover,
.text:-webkit-autofill:focus,
.text:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}


.button-update:hover {
    box-shadow: 0px 15px 20px rgb(252, 196, 92);
}

.button-update:active {
    border: solid rgb(74, 206, 140) 3px;
}

.button-update {
    color: white;
    border: solid rgb(252, 196, 92) 3px;
}

.text-disabled {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: default;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #fff solid 2px;
}

.text-disabled::after {
    border-bottom: rgb(74, 206, 140) solid 2px;
    color: #fff;
}

::-ms-reveal {
    color: white;
}

::-ms-reveal {
    filter: invert(100%);
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*justify-content: space-evenly;*/
    margin-top: 20px;
}

.input-info {
    display: flex;
}