.header-a {
    color: white;
}

.content-project {
    border-top: white 2px solid;
    border-bottom: white 2px solid;
}

.content-project h1 {
    font-size: 30px;
}

.nav-link-margin {
    margin-top: 20px;
}

.nav-ver-margin {
    margin-left: 10px;
}

.button-options {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: transparent;
    border: #fd9048 3px solid;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
}

.button-options:hover {
    box-shadow: 0px 15px 20px #fd9048;
    color: #fff;
}

.button-options:active {
    border: #fd0d0d 3px solid;
    box-shadow: 0px 15px 20px #fd0d0d;
}




.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    transition: all 0.3s ease 0s;
    color: var(--bs-nav-pills-link-active-color);
    background-color: transparent;
    border: 3px rgb(3, 170, 87) solid;
    box-shadow: 0px 15px 20px rgb(3, 170, 87);
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius);
    border: 3px rgb(255, 0, 119) solid;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(255, 0, 119);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}