<header>
    <img class="img" src="assets/img/card/logoadmin.png" alt="Logotipo de Enigma Software">
    <h1>Enigma Software</h1>
</header>
<main>
    <section [class.target]="target == 1">
        <h2>Misión</h2>
        <p>En nuestra búsqueda constante de la excelencia, nos comprometemos a proporcionar soluciones de software
            innovadoras, eficientes y personalizadas que se adapten a las necesidades específicas de nuestros clientes.
            Nos esforzamos por superar continuamente las expectativas, brindando un servicio que no solo resuelve
            problemas, sino que también impulsa el crecimiento y el éxito de quienes confían en nosotros. Con un enfoque
            centrado en la satisfacción del cliente, trabajamos incansablemente para mantenernos a la vanguardia de la
            tecnología y ofrecer soluciones que no solo cumplan, sino que también superen las demandas dinámicas y
            cambiantes del mundo empresarial.</p>
    </section>
    <section  [class.target]="target == 2">
        <h2>Visión</h2>
        <p>Nos visualizamos como una empresa líder en el ámbito del desarrollo de software, destacando por la calidad
            excepcional de nuestras soluciones, la creatividad en la resolución de desafíos tecnológicos y nuestro firme
            compromiso con la excelencia. Aspiramos a ser reconocidos a nivel mundial como referentes en la industria,
            estableciendo nuevos estándares de innovación y brindando un impacto significativo en la forma en que las
            organizaciones aprovechan la tecnología para alcanzar sus metas. Con un equipo altamente capacitado y
            orientado a resultados, aspiramos a ser pioneros en la creación de soluciones que no solo respondan a las
            necesidades actuales del mercado, sino que también anticipen y den forma a las tendencias futuras. Se espera
            cumplir con esto en un tiempo estimado de 2 años.</p>
    </section>
    <section  [class.target]="target == 3">
        <h2>Valores</h2>
        <ul>
            <li>Compromiso</li>
            <li>Respeto</li>
            <li>Responsabilidad</li>
            <li>Trabajo en equipo</li>
        </ul>
    </section>
    <section  [class.target]="target == 4">
        <h2>Dueños de la Empresa</h2>
        <ul>
            <li>Garay Montes Víctor Andrés</li>
            <li>Palacios Rangel Maria Fernanda</li>
        </ul>
    </section>
    <section  [class.target]="target == 5">
        <h2>Puestos Necesarios</h2>
        <ul>
            <li>CEO</li>
            <li>DevBox</li>
            <li>Quality Control</li>
            <li>Dev’s</li>
            <li>Tester’s</li>
        </ul>
    </section>
</main>
<app-footer></app-footer>