<div class="password-recovery-component">
    <div class="slider">
        <div>
            <img class="mpm-logo" routerLink="/" [src]="appIcon" alt="...">
        </div>
    </div>
    <div class="password-recovery" id="passwordRecoveryModal">
        <div class="password-recovery-content">
            <div class="password-recovery-header">
                <h1 class="modal-title" id="passwordRecoveryModalLabel">{{lang.password_recovery.text}}</h1>
            </div>

            <div class="password-recovery-body">
                <form [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="mb-3">
                        <label for="Email" class="form-label">{{lang.email_address}} - {{lang.user_name}}</label>
                        <input formControlName="userName" type="text" class="text" id="Email"
                            aria-describedby="emailHelp">
                        <div *ngIf="form.get('userName')?.hasError('email') && form.get('userName')?.value != ''"
                            class="form-text error">{{lang.email_validation_message.email}}</div>
                        <div *ngIf="form.get('userName')?.hasError('minlength') && !form.get('userName')?.hasError('pattern') && form.get('userName')?.value != ''"
                            class="form-text error">{{lang.user_validation_messages.minlength}}</div>
                        <div *ngIf="form.get('userName')?.hasError('pattern') && !form.get('userName')?.hasError('minlength') && form.get('userName')?.value != ''"
                            class="form-text error">{{lang.user_validation_messages.pattern}}</div>
                        <div *ngIf="form.get('userName')?.hasError('pattern') && form.get('userName')?.hasError('minlength') && form.get('userName')?.value != ''"
                            class="form-text error">{{lang.user_validation_messages.minlength_pattern}}</div>
                    </div>

                    <div class="list-group card-body">
                        <br>
                        <button type="submit" class="btn button-password-recovery"
                            [disabled]="form.invalid">{{lang.submit}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>