<div class="card-aling card-center" *ngIf="activity.projectId == project.id">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/card/{{activity.src}}.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{activity.title}}</h5>
            <p class="card-text text-subtitle">{{activity.subtitle}}</p>
            <button class="button"
                data-bs-toggle="modal" data-bs-target="#editActivity" (click)="onModalData()"> Edit
                activity</button>
        </div>
    </div>
</div>