<div class="modal fade" id="projectMembers" tabindex="-1"
    aria-labelledby="projectMembersLabe1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectMembersLabel">Members
                    List</h5>
                <button type="button" class="btn-close btn-close-white"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="menbers-container">
                    <app-member-item *ngFor="let member of members" [member]="member" (updateMembers)="updateMembers()"> </app-member-item>
                </div>
                <hr>
                <form [formGroup]="form" (ngSubmit)="addMember()">
                    <div class="mb-1">
                        <label class="form-label" for="userName">Add Member</label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="userName">Username</label>
                        <input class="text" id="userName"
                            name="userName" formControlName="userName" required
                            type="text" placeholder="name"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Select Rol</label>
                        <select class="text" formControlName="userRol" aria-label="Default
                            select example">
                            <option value="1">Analyst</option>
                            <option value="2">Designer</option>
                            <option value="3">Programmer</option>
                        </select>
                    </div>
                    <div class="list-group card-body">
                        <button type="submit" data-bs-dismiss="modal" [disabled]="!this.form.valid" class="btn button-submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer list-group card-body">
                <button type="button" class="btn button-close"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>