<div class="container">
    <div class="avatar border-bottom">
        <div class="avatar-icon avatar-icon-edit" (click)="showIcons = !showIcons">
            <img class="icon" [src]="iconPathFull+userIcon" alt="...">
        </div>

        <h1>{{userName}}</h1>
    </div>

</div>

<div class="content" *ngIf="showIcons">
    <div class="icons" >
        <h2>{{lang.icons}}</h2>
    
        <div class="centered-content">
            <div *ngFor="let item of icons" class="card-aling-p card-center" (click)="changeIcon(item)">
                <div class="avatar-icon-min">
                    <img class="icon-min" [src]="iconPathFull+item.id+'.jpg'" alt="{{item.iconName}}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content" *ngIf="!showIcons">
    <div class="themes">
        <h2>{{lang.themes}}</h2>
    
        <div>
            <div *ngFor="let item of themes" class="card-aling-p card-center" (click)="testTheme(item)">
                <div class="card card-p">
                    <img src="{{themePath}}{{item.themeName}}.jpeg"
                        class="card-img-top" alt="{{item.themeName}}">
                    <div class="card-body upper-firt">
                        <h5 class="card-title">{{item.themeName}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>



<!-- Modal -->
<div class="modal fade" id="changeIcon" tabindex="-1" aria-labelledby="editIconLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editIconLabel">{{lang.change_icon}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex" style="justify-content: flex-end;">
                <button type="button" class="btn btn-delete" data-bs-dismiss="modal" style="margin-right: 6px;">{{lang.action_cancel}}</button>
                <button type="button" class="btn btn-update" data-bs-dismiss="modal" (click)="confirmIcon()">{{lang.action_save_changes}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changeTheme" tabindex="-1" aria-labelledby="editIconLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editIconLabel">{{lang.change_theme}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelTheme()"></button>
            </div>
            <div class="modal-body d-flex" style="justify-content: flex-end;">
                <button type="button" class="btn btn-delete" data-bs-dismiss="modal" (click)="cancelTheme()" style="margin-right: 6px;">{{lang.action_cancel}}</button>
                <button type="button" class="btn btn-update" data-bs-dismiss="modal" (click)="confirmTheme()">{{lang.action_save_changes}}</button>
            </div>
        </div>
    </div>
</div>