.modal-content {
    background-color: #202124;
    color: var(--text-color);
    border: solid var(--text-color) 2px;
}

.button-login:hover {
    border: solid var(--text-color) 2px;
}

.button-login:active {
    border: solid var(--primary-color) 2px;
}

.form-text {
    color: var(--text-color);
}

.button-login {
    transition: all 0.5s ease 0s;
    color: var(--text-color);
    border: solid var(--primary-color) 2px;
}

.form-control {
    background-color: red;
    color: orange;
}

.modal-header {
    border-bottom: var(--text-color) 1px solid;
}

::-ms-reveal {
    color: var(--text-color);
}

::-ms-reveal {
    filter: invert(100%);
}


.login {
    margin-top: 10%;
    width: 40%;
    padding: 20px;
}

.login-content {
    color: var(--text-color);
}

.login-header {
    margin-bottom: 20px;
    text-align: center;
}

.login-component {
    height: 80%;
    display: flex;
    width: 100%;
}

.slider {
    margin: 0 auto;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.captcha-container{
    display: flex;
    justify-content: space-around !important;
    background-color: transparent;
}


@media (max-width: 992px) {

    .login-component {
        height: 100%;
        display: block;
        width: 100%;
    }

    .slider {
        width: 100%;
        padding-top: 5px;
    }

    .login {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
    }
}