<div class="login-component">
    <div class="slider">
        <div>
            <img class="mpm-logo" routerLink="/" [src]="appIcon" alt="...">
        </div>
    </div>
    <div class="login" id="loginModal">
        <div class="login-content">
            <div class="login-header">
                <h1 class="modal-title" id="loginModalLabel">{{lang.login}}</h1>
            </div>

            <div class="login-body">
                <form [formGroup]="form" (ngSubmit)="loginSend()">
                    <div class="mb-3">
                        <label for="Email" class="form-label">{{lang.email_address}} - {{lang.user_name}}</label>
                        <input formControlName="userNameOrEmail" type="email" class="text" id="Email name"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label>{{lang.password}}</label>
                        <input class="text" type="password" formControlName="password" id="Password">
                    </div>
                    <div class="mb-2 checkbox">
                        <input type="checkbox" formControlName="remember" id="Remember">
                        <label for="Remember">{{lang.remember}}</label>
                    </div>
                    <br>
                    <div class="captcha-container">
                        <re-captcha (resolved)="resolved($event)" [theme]="theme" siteKey="6Lfwv4YpAAAAAM7h7Z7uzVgP5wsAYzUn_r1yRP8l"></re-captcha>
                    </div>
                    <div class="list-group card-body">
                        <br>
                        <button type="submit" class="btn button-login" [disabled]="form.invalid">{{lang.login}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>