<title>Mapa del sitio MPM</title>

<body>
    <link rel="stylesheet" href="./sitemap.component.css">
    <div class="container">
        <h1>Mapa del sitio MPM</h1>
        <div class="sitemap">
            <div class="large-item">
                <a href="/"><span>Inicio</span></a>
              </div>
              
            <div class="sub-children">
                <div class="item"><a href="/projects">Proyectos</a></div>
                <div class="item"><a routerLink="/projects">Todos</a></div>

                <div class="sub-children">
                    <div class="item"><a routerLink="/unassigned">Actividades</a></div>
                    <div class="sub-children">
                        <div class="item"><a routerLink="/proyectos/actividades/asignados">Asignados</a></div>
                        <div class="item"><a routerLink="/inprogress">En proceso</a></div>
                        <div class="item"><a routerLink="/completed">Completados</a></div>
                        <div class="item"><a routerLink="/pause">En pausa</a></div>
                    </div>
                </div>
                <div class="sub-children">
                    <div class="item"><a routerLink="/proyectos/agrega-elimina-miembros">Agrega y elimina miembros</a></div>

                    <div class="item"><a routerLink="/members">Miembros</a></div>
                    <div class="item"><a routerLink="/add">Agregar</a></div>
                </div>

            </div>

            <div class="large-item"><span>Footer</span></div>
            <div class="children">
                <div class="item"><a routerLink="/about">¿Quiénes somos?</a></div>
                <div class="item"><a href="https://www.facebook.com/profile.php?id=61556829230300">Redes sociales</a></div>
                <div class="item"><a routerLink="/aviso-privacidad">Aviso de privacidad</a></div>
            </div>
        </div>
    </div>
</body>