<title>Mapa del sitio MPM</title>

<body>
    <link rel="stylesheet" href="./sitemap.component.css">
    <div class="container">
        <h1>Mapa del sitio MPM</h1>
        <div class="sitemap">
            <div class="large-item"><a href="/"></a><span>Inicio</span></div>
            <div class="sub-children">
                <div class="item"><a href="/projects">Proyectos</a></div>
                <div class="item"><a href="project">Todos</a></div>

                <div class="sub-children">
                    <div class="item"><a href="/unassigned">Actividades</a></div>
                    <div class="sub-children">
                        <div class="item"><a href="/proyectos/actividades/asignados">Asignados</a></div>
                        <div class="item"><a href="/inprogress">En proceso</a></div>
                        <div class="item"><a href="/completed">Completados</a></div>
                        <div class="item"><a href="/pause">En pausa</a></div>
                    </div>
                </div>
                <div class="sub-children">
                    <div class="item"><a href="/proyectos/agrega-elimina-miembros">Agrega y elimina miembros</a></div>

                    <div class="item"><a href="/members">Miembros</a></div>
                    <div class="item"><a href="/add">Agregar</a></div>
                </div>

            </div>

            <div class="large-item"><span>Footer</span></div>
            <div class="children">
                <div class="item"><a href="/about">¿Quiénes somos?</a></div>
                <div class="item"><a href="/redes-sociales">Redes sociales</a></div>
                <div class="item"><a href="/aviso-privacidad">Aviso de privacidad</a></div>
            </div>
        </div>
    </div>
</body>