<nav class="nv-projct navbar navbar-dark">
    <div class="container-fluid content-project">
        <h1 class="navbar-brand navbar-title">Mapa del sitio MPM</h1>
    </div>
</nav>

<div class="container">
    <div class="sitemap">
        <a class="large-item"routerLink="/">{{lang.pather_home}}</a>
        <a class="large-item item-nav" routerLink="/projects">{{lang.projects}}</a>
        <div class="sub-children">
            <a class="item item-nav" [routerLink]="[activityUrl, 'unassigned']">{{lang.pather_unassigned}}</a>
            <a class="item item-nav" [routerLink]="[activityUrl, 'inprogress']">{{lang.pather_in_progress}}</a>
            <a class="item item-nav" [routerLink]="[activityUrl, 'completed']">{{lang.pather_completed}}</a>
            <a class="item item-nav" [routerLink]="[activityUrl, 'pause']">{{lang.pather_pause}}</a>
            <a class="item item-nav" [routerLink]="[activityUrl, 'members']">{{lang.pather_members}}</a>
            <a class="item item-nav" [routerLink]="[activityUrl, 'members', 'add']">{{lang.pather_add}}</a>
        </div>
        <div class="large-item">Footer</div>
        <div class="sub-children">
            <a class="item item-nav" routerLink="/about">{{lang.footer_about_us}}</a>
            <div class="item">Redes sociales</div>
            <a class="item item-nav" routerLink="/privacy">{{lang.pather_privacy}}</a>
        </div>
    </div>
</div>

<app-footer></app-footer>