.modal-content {
    background-color: #202124;
    color: white;
    border: solid #ffffff 3px;
}

.button-create:hover {
    box-shadow: 0px 15px 20px #fdeb48;
}

.button-create:active {
    border: solid #0d6efd 3px;
    box-shadow: 0px 15px 20px #0d6efd;
}

.button-create {
    color: white;
    border: solid #fdeb48 3px;
}

.button-close:hover {
    box-shadow: 0px 15px 20px #ce0303;
}

.button-close:active {
    border: solid #03ce14 3px;
    box-shadow: 0px 15px 20px #03ce14;
}

.button-close {
    color: white;
    border: solid #ce0303 3px;
}


.text {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #fff solid 2px;
}

.text:hover {
    color: #fff;
    border-bottom: #fdeb48 solid 2px;
    transition: border 0.2s linear;
}

.text::after {
    border-bottom: #fdeb48 solid 2px;
    color: #fff;
}

.text:-webkit-autofill,
.text:-webkit-autofill:hover,
.text:-webkit-autofill:focus,
.text:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}



.textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border: #fff solid 2px;
    min-height: 50px;
}

.textarea:hover {
    color: #fff;
    border: #fdeb48 solid 2px;
    transition: border 0.2s linear;
}

.textarea::after {
    border: #fdeb48 solid 2px;
    color: #fff;
}

.textarea:-webkit-autofill,
.textarea:-webkit-autofill:hover,
.textarea:-webkit-autofill:focus,
.textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.modal-header {
    border-bottom: #ffffff 1px solid;
}

::-webkit-calendar-picker-indicator {
    color: white;
}

::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}