:root {
    --primary-color: #f1c0ff;
    --secondary-color: #6347ee;
    --success-color: #8861ff;
    --danger-color: #00008e;
    --warning-color: #2c19ad;
    --options-color: #4930cd;
    --more-color: #b080ff;
    --info-color: #d2a0ff;
    --light-color: #f8f9fa;
    --dark-color: #1a1a1a;

    --modal-dark-color: #272727;
}


::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: rgb(67, 67, 68);
}

body {
    background-color: var(--dark-color);
}

.modal-content {
    background-color: var(--modal-dark-color);
    color: white;
    border: none #ffffff 1px;
}

.mpm-logo {
    cursor: pointer;
    max-width: 100%;
}

.text {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #fff solid 1px;
}

.text:focus {
    border-bottom: var(--secondary-color) solid 1px;
}

.text:hover {
    border-bottom: var(--secondary-color) solid 1px;
}



.text:-webkit-autofill,
.text:-webkit-autofill:hover,
.text:-webkit-autofill:focus,
.text:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: #ffffff;
}

.text:disabled {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: default;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: var(--secondary-color) solid 1px;
}

.text:disabled::after {
    border-bottom: rgb(74, 206, 140) solid 1px;
    color: #fff;
}


.textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border: #fff solid 1px;
    min-height: 50px;
}

.textarea:hover {
    color: #fff;
    border: var(--secondary-color) solid 1px;
    transition: border 0.2s linear;
}

.textarea:focus {
    border: var(--secondary-color) solid 1px;
    color: #fff;
}

.textarea:-webkit-autofill,
.textarea:-webkit-autofill:hover,
.textarea:-webkit-autofill:focus,
.textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px #202124 inset;
    -webkit-text-fill-color: rgb(255, 255, 255);
}


.select {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #fff solid 2px;
    background-color: transparent;
}

option {
    background-color: var(--modal-dark-color) !important;
    cursor: pointer;
}

.select::after {
    border-bottom: var(--secondary-color) solid 2px;
    color: #fff;
}

.select:focus {
    border-bottom: var(--secondary-color) solid 2px;
    outline: none;
}

.select:hover {
    border-bottom: var(--secondary-color) solid 2px;
}

/* Remove these lines if not needed */



.date {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    cursor: text;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #fff solid 2px;
}

.date::-webkit-calendar-picker-indicator {
    cursor: pointer !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"/></svg>');
}

.date:focus::-webkit-calendar-picker-indicator {
    cursor: pointer !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%239cb811" d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"/></svg>');
}

.date::after {
    border-bottom: var(--secondary-color) solid 2px;
    color: #fff;
}

.date:focus {
    border-bottom: var(--secondary-color) solid 2px;
}

.date:hover {
    border-bottom: var(--secondary-color) solid 2px;
}


.btn-update:hover {
    border: solid var(--more-color) 2px;
}

.btn-update:focus {
    border: solid var(--more-color) 2px !important;
}

.btn-update {
    color: white;
    border: solid var(--primary-color) 2px;
}



.btn-delete:hover {
    border: solid #5c0303 2px;
    box-shadow: 0px 5px 20px #5c0303;
}

.btn-delete:focus {
    border: solid #5c0303 2px !important;
    box-shadow: 0px 5px 20px #5c0303;
}

.btn-delete {
    color: white;
    border: solid #ce0303 2px;
}


.btn-item:hover {
    border: solid var(--more-color) 2px;
    box-shadow: 0px 5px 20px var(--more-color);
}

.btn-item:focus {
    border: solid var(--more-color) 2px !important;
    box-shadow: 0px 5px 20px var(--more-color);
}

.btn-item {
    color: white;
    border: solid var(--primary-color) 2px;
    padding: 0.7em 3em;
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-item-ghost{
    color: transparent;
    border: solid transparent 2px;
    padding: 0.7em 3em;
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    cursor: default;
}

.button-options {
    padding: 0.8em 2em;
    letter-spacing: 2.5px;
    color: #ffffff;
    background-color: transparent;
    border: var(--options-color) 2px solid;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
}

.button-options:hover {
    border: var(--success-color) 2px solid;
    color: #fff;
}

.button-options:focus {
    border: var(--success-color) 2px solid;
}


.nav-pills .nav-activity.active, .nav-pills .show>.nav-activity {
    transition: all 0.3s ease 0s;
    color: var(--bs-nav-pills-link-active-color);
    background-color: transparent;
    border: 2px var(--more-color) solid;
    box-shadow: 0px 5px 20px var(--more-color);
}

.nav-pills .nav-activity {
    background: 0 0;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius);
    border: 2px var(--success-color) solid;
}

.nav-activity {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, transform 0.3s;
    min-width: 117.91px;
}

.nav-activity:hover {
    transform: translateY(-1px);
    color: #ffffff;
}

.nav-activity-margin {
    margin-top: 20px;
}

.nav-ver-margin {
    margin-left: 10px;
}

.btn-icon {
    padding: 0px;
    border-radius: 20px;
    min-width: 40px;
    min-height: 40px;
}

.btn-icon:disabled {
    padding: 0px;
    border-radius: 20px;
    min-width: 40px;
    min-height: 40px;
    border: transparent;
}

.btn-icon img {
    max-width: 40px;
    border-radius: 20px;
}

.user-icon {
    padding-block: 10px !important;
    padding-inline: 15px !important;
    margin: 0px;
}

.user-icon img {
    max-width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.btn-toggler {
    min-height: 40px;
    min-width: 40px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}

.btn-toggler:hover {
    background-color: #50505057 !important;
}


.nav-item-offcanvas .nav-link {
    padding-inline: 13px !important;
    border-radius: 10px;
    max-height: 40px;
    text-align: left;
    margin-block: 2px !important;
}

.nav-item-offcanvas-s .nav-link {
    padding-inline: 2px !important;
    text-align: center;
}

.nav-item-offcanvas .active {
    background-color: var(--primary-color);
    color: black !important;
}

.nav-item-offcanvas .nav-link:hover {
    background-color: var(--primary-color);
    color: black;
}

.dropdown-divider {
    background-color: rgb(87, 87, 87);
    height: 0.2px !important;
    width: 100%;
    margin: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.card-aling {
    margin: 1em;
    float: left;
}

.card-aling-u {
    margin: 1em;
    float: left;
    cursor: pointer;
}

.card-aling-p {
    margin: 1em;
    float: left;
    cursor: pointer;
}

.text-subtitle {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.card-u {
    background-color: transparent;
    border: transparent solid 2px;
    width: 15rem;
}

.card-p {
    background-color: transparent;
    border: transparent solid 2px;
    width: 23rem;
}

.card-p p {
    font-size: small;
    color: #ffffff7c;
}

.card-u p {
    font-size: small;
    color: #ffffff7c;
}

.card-p h5 {
    font-size: larger;
    color: white;
}

.card-u h5 {
    font-size: larger;
    color: white;
}

.card-p img {
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.card-u img {
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

.card-p:hover img {
    transform: translateY(-4px);
}

.card-aling-u .card-u:hover img {
    transform: translateY(-4px);
}


.checkbox label {
    margin-left: 7px;
    user-select: none;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: solid #353535 1px;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox input[type="checkbox"]:checked {
    background-color: var(--success-color);
    border: 1px transparent solid;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" height="6" width="4.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
}

.checkbox input[type="checkbox"]:disabled:checked {
    background-color: var(--options-color);
    border: 1px #494949 solid;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" height="6" width="4.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
}

.checkbox input[type="checkbox"]:disabled {
    background-color: var(--success-color);
    border: 1px #494949 solid;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" height="6" width="4.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
}


@media (max-width: 1202px) {
    .card-p {
        width: 22.5rem;
    }
}

@media (max-width: 1066px) {
    .card-p {
        width: 21.5rem;
    }
}

@media (max-width: 998px) {
    .card-p {
        width: 19.5rem;
    }
}

@media (max-width: 992px) {
    .card-p {
        width: 17.5rem;
    }
}

@media (max-width: 955px) {
    .card-p {
        width: 16.5rem;
    }
}

@media (max-width: 910px) {
    .card-p {
        width: 24.5rem;
    }
}

@media (max-width: 871px) {
    .card-p {
        width: 23.5rem;
    }
}


@media (max-width: 839px) {
    .card-p {
        width: 20.5rem;
    }
}


@media (max-width: 759px) {
    .card-p {
        width: 18.5rem;
    }
}

@media (max-width: 695px) {
    .card-p {
        width: 18rem;
    }
}

@media (max-width: 679px) {
    .card-p {
        width: 17rem;
    }
}

@media (max-width: 649px) {
    .card-p {
        width: 16rem;
    }
}

@media (max-width: 600px) {
    .card-p {
        width: 100%;
    }
}

/*Footer red social*/
.social-media-links {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.social-media-links a {
    color: #000; 
    text-decoration: none; 
}

.social-media-links a:hover, .social-media-links a:focus {
    color: #555; 
}
