::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: rgb(67, 67, 68);
}

body {
    background-color: #202124;
}