<div>
    <nav class="nv-projct navbar navbar-dark">
        <div class="container-fluid content-project">
            <h1 class="navbar-brand navbar-title" id="nav-account" data-bs-toggle="collapse"
                data-bs-target="#accountInfoNav" aria-controls="accountInfoNav" aria-expanded="false"
                aria-label="Toggle navigation">&nbsp;&nbsp;
                Account settings</h1>
        </div>
    </nav>

    <div class="d-flex align-items-start nav-ver-margin nav-flex">
        <div class="tab-content w-100" id="v-pills-tabContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>