<div class="tab-pane fade show active" id="v-pills-information" role="tabpanel"
    aria-labelledby="v-pills-information-tab" tabindex="0">
    <div class="container">
        <div class="row">
            <div>
                <form>
                    <div class="input-group w-100">
                        <div class="col-6 input-info">
                            <div class="col-10">
                                <label for="password" class="form-label">{{lang.password}}</label>
                                <input type="password" class="text" disabled placeholder="*******">
                            </div>
                            <div class="col-2 cont-edit-btn">
                                <button class="btn btn-lg" type="button" (click)="editPasswordModal()">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-6 input-info">
                            <div class="col-10">
                                <button class="btn-email-check w-100 h-100" *ngIf="!isVerify && isVerify != undefined" (click)="verifyAccountMessage()" type="button">
                                    {{lang.enable_a2f}}&nbsp;&nbsp;<i class="fa-solid fa-check"></i>
                                </button>

                                <button class="btn-email-check w-100 h-100" *ngIf="isVerify && isA2F != undefined" type="button" (click)="isA2F == undefined ? null : isA2F ? disableA2FModal() : enableA2FModal()">
                                    {{!isA2F ? lang.enable_a2f : lang.disable_a2f}}&nbsp;&nbsp;<i *ngIf="isA2F" class="fa-solid fa-check"></i>
                                </button>
                                <button *ngIf="isVerify == undefined" class="btn-email-check w-100 h-100" type="button">
                                    <div class="lds-ellipsis">
                                        <div class="ellipsis-1 ellipsis"></div>
                                        <div class="ellipsis-2 ellipsis"></div>
                                        <div class="ellipsis-3 ellipsis"></div>
                                        <div class="ellipsis-4 ellipsis"></div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{modal.title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="modal.type == 'password'" id="editPassword">
                    <form [formGroup]="formPassword" (ngSubmit)="updatePassword()">
                        <div class="mb-3">
                            <label class="form-label" for="password-update">{{lang.password}}</label>
                            <input class="text" id="password-update" name="password-update" type="password"
                                formControlName="userPassword" placeholder="*******" required />
                            <div *ngIf="formPassword.get('userPassword')?.hasError('minlength') && !formPassword.get('userPassword')?.hasError('pattern') && formPassword.get('userPassword')?.value != ''"
                                class="form-text error">{{lang.password_validation_messages.minlength}}</div>
                            <div *ngIf="formPassword.get('userPassword')?.hasError('pattern') && !formPassword.get('userPassword')?.hasError('minlength') && formPassword.get('userPassword')?.value != ''"
                                class="form-text error">{{lang.password_validation_messages.pattern}}</div>
                            <div *ngIf="formPassword.get('userPassword')?.hasError('pattern') && formPassword.get('userPassword')?.hasError('minlength') && formPassword.get('userPassword')?.value != ''"
                                class="form-text error">{{lang.password_validation_messages.minlength_pattern}}</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password-update-c">{{lang.new_password}}</label>
                            <input class="text" id="password-update-c" name="password-update" type="password"
                                formControlName="userPasswordConfirm" placeholder="*******" required />
                            <div *ngIf="formPassword.get('userPasswordConfirm')?.value !== '' && formPassword.get('userPasswordConfirm')?.hasError('matchFields')"
                                class="form-text error">{{lang.password_validation_messages.matchfields}}</div>
                        </div>
                        <div class="list-group card-body">
                            <button type="submit" [disabled]="this.formPassword.invalid" class="btn
                                btn-update">{{lang.action_update}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="enableA2F" tabindex="-1" aria-labelledby="enableA2FLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="enableA2FLabel">{{lang.enable_a2f}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex" style="justify-content: flex-end;">
                <button type="button" class="btn btn-delete" data-bs-dismiss="modal" style="margin-right: 6px;">{{lang.action_cancel}}</button>
                <button type="button" class="btn btn-update" data-bs-dismiss="modal" (click)="enableA2F()">{{lang.enable_a2f}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="disableA2F" tabindex="-1" aria-labelledby="disableA2FLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="disableA2FLabel">{{lang.disable_a2f}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex" style="justify-content: flex-end;">
                <button type="button" class="btn btn-delete" data-bs-dismiss="modal" style="margin-right: 6px;">{{lang.action_cancel}}</button>
                <button type="button" class="btn btn-update" data-bs-dismiss="modal" (click)="disableA2F()">{{lang.disable_a2f}}</button>
            </div>
        </div>
    </div>
</div>