.card-aling {
    margin: 1em;
    float: left;
}

.card {
    width: 18rem;
    min-height: 278.13px;
}

.text-subtitle {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.card {
    background-color: transparent;
    border: white solid 2px;
    color: white;
    text-align: center;
}