<div class="modal fade" id="projectOptions" tabindex="-1"
    aria-labelledby="projectOptionsLabe1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectOptionsLabel">Project
                    Options</h5>
                <button type="button" (click)="updateForm()" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="updateProject()">
                    <div class="mb-3">
                        <label class="form-label" for="nameProject">Change
                            project name</label>
                        <input class="form-control" id="nameProject"
                            name="nameProject"
                            type="text" formControlName="title" placeholder="{{project.title}}"/>
                    </div>
                    <div class="mb-3">
                        <label for="descriptionProject"
                            class="form-label">Change description</label>
                        <textarea class="form-control"
                            id="descriptionProject" rows="3" formControlName="subtitle" placeholder="{{project.subtitle}}"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="control-label" for="dateStart">Start
                            date</label>
                        <input class="form-control" disabled id="dateStart"
                            name="dateStart" placeholder="MM/DD/YYYY"
                            type="text" value="{{project.dateStart.toLocaleDateString()}}" />
                    </div>
                    <div class="mb-3">
                        <label class="control-label" for="dateEnd">Completion
                            date</label>
                        <br>
                        <label class="control-label" for="dateEnd">Actual date {{project.dateEnd.toLocaleDateString()}}</label>
                        <input class="form-control" id="dateEnd"
                            name="dateEnd" placeholder="MM/DD/YYYY"
                            type="date" formControlName="dateEnd"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="updateForm()" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Save
                            changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>